<form class="{{styles.form-container}}" autocomplete="off" spellcheck="false">
  {{{login}}}
  <div class="{{styles.submit-button}}">
    {{{submitButton}}}
  </div>
  <div class="{{styles.found-container}}">
    {{{foundList}}}
  </div>
</form>
