<div class="search-outer{{#if extClass}} {{extClass}}{{/if}}">
  <input type="search" autocomplete="off" class="search" id={{id}} name={{name}} placeholder={{placeholder}}>
  <label class="search__icon" for={{id}}>
</div>