<div class="{{styles.profile}}">

  <div class="{{styles.profile__avatar}}">
    {{avatar}}
    {{changeAvatar}}
  </div>

  <div class="{{styles.profile__name-container}} no-select">
    <div class="{{styles.profile__name-header}}">
      <p class="{{styles.profile__text}} {{styles.profile__text_style_name}}">
        {{firstName}}
      </p>
      <p class="{{styles.profile__text}} {{styles.profile__text_style_name}}">
        {{lastName}}
      </p>
    </div>
    <p
      class="{{styles.profile__name-footer}} {{styles.profile__text}} {{styles.profile__text_style_username}}">
      {{userName}}
    </p>
  </div>

</div>