<div class="{{styles.profile}}">

  <div class="{{styles.profile__avatar}}">
    {{avatar}}
    {{changeAvatar}}
  </div>

  <div class="{{styles.profile-info}} no-select">
    <p class="{{styles.text}} {{styles.username}}">
      {{userName}}
    </p>

    <ul class="base-list {{styles.rows}}">
      <li class="{{styles.two-columns}}">
        <p class="{{styles.text}} {{styles.column__left}}">Name:</p>
        <p class="{{styles.text}} {{styles.column__right}}">
          {{firstName}} {{lastName}}
        </p>
      </li>
      <li class="{{styles.two-columns}}">
        <p class="{{styles.text}} {{styles.column__left}}">Email:</p>
        <p class="{{styles.text}} {{styles.column__right}}">
          {{email}}
        </p>
      </li>
      <li class="{{styles.two-columns}}">
        <p class="{{styles.text}} {{styles.column__left}}">Login:</p>
        <p class="{{styles.text}} {{styles.column__right}}">
          {{login}}
        </p>
      </li>
      <li class="{{styles.two-columns}}">
        <p class="{{styles.text}} {{styles.column__left}}">Phone:</p>
        <p class="{{styles.text}} {{styles.column__right}}">
          {{phone}}
        </p>
      </li>
    </ul>
  </div>

</div>
