<div
  class="{{styles.nav-item}} {{styles.nav-item_style}} animate_hover-opacity">
  <svg class="{{styles.nav-item__icon}}" viewBox="0 0 24 24" aria-hidden="true">
    <use href="/svg/icon-24-sprite.svg#{{icon}}">
  </svg>
  <div class="{{styles.nav-item__label}}">{{label}}</div>
</div>