<a class="base-link chat-item{{#if isActive}} chat-item_active{{/if}}" href="{{href}}" tabindex=" 0" role="button"
  draggable="false">
  <div class="chat-item__avatar">
    {{> components/avatar/avatar }}
  </div>
  <div class="chat-info">
    <div class="chat-info__heading">
      <p class="chat-item__text chat-info__title">{{name}}</p>
      {{#if status}}
        <div class="chat-info__status chat-info__status_{{status}}"></div>
      {{/if}}
      <p class="chat-item__text chat-info__time">{{time}}</p>
    </div>
    <div class="chat-info__message">
      <p class="chat-item__text chat-info__last">{{message}}</p>
      {{#if unread}}
        <p class="chat-item__text chat-info__badge">{{unread}}</p>
      {{/if}}
    </div>
  </div>
</a>
