<div class="form-input">
  <input class="form-input__inner{{#if error}} form-input__inner_error{{/if}}" type={{type}} name={{name}}
    placeholder="{{placeholder}}" id={{id}}>
  <label class="form-input__label" for={{id}}>{{placeholder}}</label>
  <p
    class="form-input__support{{#if support}} form-input__support_visible{{/if}}{{#if error}} form-input__support_error{{/if}}">
    {{support}}
  </p>
</div>