<header class="top-bar {{styles.chat_top-bar}}">
  <div class="{{styles.chat__avatar}}">
    {{avatar}}
  </div>
  <h2 class="{{styles.chat__username}} no-select">{{username}}</h2>
  {{!-- {{> components/dropdown/dropdown id="chat-opt" icon="dots" items=main.menu.chatOpt style="primary" posX="right" posY="bottom"}} --}}
</header>