<form class="{{styles.formContainer}}" autocomplete="off" spellcheck="false">
  {{{login}}}
  <div class="{{styles.chatUsersContainer}}">
    {{{chatUsersList}}}
  </div>
  <div class="{{styles.submitButton}}">
    {{{submitButton}}}
  </div>
</form>
