<main class="page_align_center">

  <h1 class="{{styles.page__headline}}">Add users to chat</h1>
  <div class="{{styles.page__form}}">
    {{{form}}}
  </div>
  <div class="{{styles.page__transition}}">
    {{{transitionButton}}}
  </div>

</main>
