<button type={{type}}
  class="{{styles.icon-button}} {{styles.icon-button_style}} animate_hover-opacity">
  <svg class="{{styles.icon-button__icon}}" viewBox="0 0 40 40"
    aria-hidden="true">
    <use href="/svg/icon-40-sprite.svg#{{icon}}">
  </svg>
</button>