<button type={{type}} role={{role}} aria-label={{ariaLabel}}
  class="{{styles.icon-button}} {{styles.icon-button_style}}">
  <svg class="{{styles.icon-button__icon}} animate_hover-opacity"
    viewBox="0 0 40 40" aria-hidden="true">
    <use href="/svg/icon-40-sprite.svg#{{icon}}">
  </svg>
  {{children}}
</button>
