<main class="page_align_center">

  <h1 class="{{styles.page__headline}}">Sign in to Messenger</h1>
  {{message}}
  {{form}}
  <div class="{{styles.page__transition}}">
    <p class="{{styles.page__transition-text}}">Don&rsquo;t have an&nbsp;account?</p>
    <a class="base-link {{styles.page__transition-link}}" href="/signup/" tabindex="-1" aria-hidden="true"
      draggable="false">
      {{transitionButton}}
    </a>
  </div>

</main>
