<li>
  <div role="menuitem" class="{{styles.menu-item}} {{styles.menu-item_style}}">
    <svg class="{{styles.menu-item__icon}}" viewBox="0 0 24 24"
      aria-hidden="true">
      <use href="/svg/icon-24-sprite.svg#{{icon}}">
    </svg>
    <p class="{{styles.menu-item__label}}">{{label}}</p>
  </div>
</li>