<label class="{{styles.container}}" for="{{id}}">
  <input class="visually-hidden {{styles.invisibleInput}}" id="{{id}}"
    type="checkbox" value="{{userId}}" {{#if isAdded}}disabled{{/if}}>
  <div class="{{styles.content}}">
    {{{userLine}}}
  </div>
</label>
