{{#if status }}
  <div class="bubble bubble_own bubble_type_text">
    <p class="bubble__text">{{text}}</p>
    <div class="bubble__meta">
      <p class="bubble__time">{{time}}</p>
      <span class="msg-status msg-status_style_{{status}}"></span>
    </div>
  </div>
{{else}}
  <div class="bubble bubble_type_text">
    <p class="bubble__text">{{text}}</p>
    <div class="bubble__meta">
      <p class="bubble__time">{{time}}</p>
    </div>
  </div>
{{/if}}
