<main class="page_align_center">

  <h1 class="{{styles.page__headline}}">Add users</h1>
  {{form}}
  {{usersList}}
  <div class="{{styles.page__transition}}">
    {{transitionButton}}
  </div>

</main>
