<div class="{{styles.search-outer}}">
  <input type="search" autocomplete="off" class="{{styles.search}}" id={{id}}
    name={{name}} placeholder={{placeholder}}>
  <label class="{{styles.search__icon}}" for={{id}}>
</div>