<label class="{{styles.container}}" for="{{id}}">
  <input class="visually-hidden {{styles.invisible-input}}" id="{{id}}"
    type="checkbox" value="{{userId}}" {{#if added}}disabled{{/if}}>
  <div class="{{styles.content-container}}">
    <div class="{{styles.avatar-container}}">
      {{avatarBlock}}
    </div>
    <p class="{{styles.user-name}} no-select">
      {{#if displayName}}
        {{displayName}}
      {{else}}
        {{firstName}} {{secondName}}
      {{/if}}
    </p>
    {{#if added}}
      <p class="{{styles.status-text}}">added</p>
    {{/if}}
  </div>
</label>
