<li class="{{styles.during-day}}">
  <h3 class="{{styles.day-title}} no-select">{{date}}</h3>
  <ul class="{{styles.message-list}} base-list">
    {{#each messages}}
      <li>
        {{this}}
      </li>
    {{/each}}
  </ul>
</li>