<form class="{{styles.form-container}}">
  <img class="{{styles.preview}}" src="{{src}}" alt="avatar image">
  {{pickButton}}
  <div class="{{styles.message}}">
    {{message}}
  </div>
  <div class="{{styles.actions}}">
    {{submitButton}}
    {{cancelButton}}
  </div>
</form>
