<div class="{{styles.chat}}">
  {{header}}
  <div class="{{styles.messages-container}}">
    <ul class="base-list {{styles.messages__list}}">
      {{#each messages}}
        {{this}}
      {{/each}}
    </ul>
  </div>
  <div class="{{styles.message-input-container}}">
    {{sender}}
  </div>
</div>
