<div class="{{styles.sidebar-content}}">
  <header class="top-bar {{styles.chat-list__top-bar}}">
    {{settingsButton}}
    {{search}}
    {{addChat}}
  </header>
  <ul class="base-list {{styles.chat-list}}">
    {{#each list }}
      <li>
        {{this}}
      </li>
    {{/each}}
  </ul>
</div>
