<form class="form" autocomplete="off" spellcheck="false">
  {{first_name}}
  {{second_name}}
  {{email}}
  {{phone}}
  {{login}}
  {{display_name}}
  <div class="form__submit">
    {{submitButton}}
  </div>
</form>