<div class="{{styles.bubble}} {{styles.bubble_own}}">
  <p class="{{styles.bubble__text}}">{{text}}</p>
  <div class="{{styles.bubble__meta}}">
    <p class="{{styles.bubble__time}}">{{time}}</p>
    <span class="{{styles.status}} {{styles.status_style}}"></span>
  </div>
</div>