<main class="page_align_center">

  <h1 class="{{styles.page__headline}}">Sign up to Messenger</h1>
  {{form}}
  <div class="{{styles.page__transition}}">
    <p class="{{styles.page__transition-text}}">Already have an&nbsp;account?
    </p>
    {{transitionButton}}
  </div>

</main>