<div class="{{styles.chat}}">

  {{#if isCurrentChat}}
    {{header}}
    <div class="{{styles.messages-container}}">
      <ul class="base-list {{styles.messages__list}}">
        {{#each messages}}
          {{this}}
        {{/each}}
      </ul>
    </div>
    <div class="{{styles.message-input-container}}">
      {{sender}}
    </div>
  {{else}}
    {{chatStub}}
  {{/if}}

</div>
